/*	23.02.2021	*/
/*	*	*	*	*	*	*	*	*	*	*/

.__enehty_gelSpecial li {position: relative;}


.__enehty_gelSpecial li a {position: relative;}
.__enehty_gelSpecial li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;

    padding: 8px;
    border-radius: 3px;
    transform: translateX(-120%) translateY(-50%);
}


.__enehty_gelSpecial .__colors {
    flex-basis: 100%;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    align-items: center;
}

.__enehty_gelSpecial .__colors {
    margin: 5px;
    padding: 0;
}

.__enehty_gelSpecial .__colors li {
    margin: 5px;
    padding: 0;
}

.__enehty_gelSpecial .__colors a {
    display: block;

    font-size: 0;
    height: 26px;
    width: 48px;
}

.__enehty_gelSpecial .__colors .selected a::before {
    opacity: 0.4; 
}

.__enehty_gelSpecial .__colors a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    height: 100%;
    width: 100%;

    border-radius: 3px;
    transform: translateX(-50%) translateY(-50%);
}


.__enehty_gelSpecial a.__ffffff::before { border: 1px solid #e0e0e0; }
.__enehty_gelSpecial a.__dedede::before { background-color: #dedede; }
.__enehty_gelSpecial a.__ababab::before { background-color: #ababab; }
.__enehty_gelSpecial a.__000000::before { background-color: #000000; }
.__enehty_gelSpecial a.__0c144f::before { background-color: #0c144f; }
.__enehty_gelSpecial a.__044d15::before { background-color: #044d15; }
.__enehty_gelSpecial a.__1b6b84::before { background-color: #1b6b84; }
.__enehty_gelSpecial a.__2e95da::before { background-color: #2e95da; }
.__enehty_gelSpecial a.__a6dce8::before { background-color: #a6dce8; }
.__enehty_gelSpecial a.__48d1bc::before { background-color: #48d1bc; }
.__enehty_gelSpecial a.__aae8d1::before { background-color: #aae8d1; }
.__enehty_gelSpecial a.__fbbdd6::before { background-color: #fbbdd6; }
.__enehty_gelSpecial a.__c1b5d4::before { background-color: #c1b5d4; }
.__enehty_gelSpecial a.__9d7ad0::before { background-color: #9d7ad0; }
.__enehty_gelSpecial a.__c8328c::before { background-color: #c8328c; }
.__enehty_gelSpecial a.__612d6b::before { background-color: #612d6b; }
.__enehty_gelSpecial a.__44083c::before { background-color: #44083c; }
.__enehty_gelSpecial a.__4a1400::before { background-color: #4a1400; }
.__enehty_gelSpecial a.__730933::before { background-color: #730933; }
.__enehty_gelSpecial a.__9f070e::before { background-color: #9f070e; }
.__enehty_gelSpecial a.__b80348::before { background-color: #b80348; }
.__enehty_gelSpecial a.__db1832::before { background-color: #db1832; }
.__enehty_gelSpecial a.__f66767::before { background-color: #f66767; }
.__enehty_gelSpecial a.__ed9962::before { background-color: #ed9962; }
.__enehty_gelSpecial a.__f4a8a8::before { background-color: #f4a8a8; }
.__enehty_gelSpecial a.__f4d7c9::before { background-color: #f4d7c9; }
.__enehty_gelSpecial a.__c39983::before { background-color: #c39983; }
.__enehty_gelSpecial a.__9d8f3d::before { background-color: #9d8f3d; }
.__enehty_gelSpecial a.__c7a365::before { background-color: #c7a365; }
.__enehty_gelSpecial a.__d9c162::before { background-color: #d9c162; }
.__enehty_gelSpecial a.__f4ff5e::before { background-color: #f4ff5e; }